<header>
  <div class="container">
    <div class="header-logo">
      <img src="img/logo.jpg" alt="Mircode">
      <span>Framework</span>
    </div>
    <div class="header-links">
      <a href="#">Sign in</a>
    </div>
  </div>
</header>
<nav class="main-nav">
  <div class="container">
    <div class="main-nav__space"></div>
    <div class="main-nav__menu">
      <ul>
        <li class="active"><a href="#">Constructor</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Users panels</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="main-nav__action">
      a,b
    </div>
  </div>
</nav>
