.parallax {
  background: url('../img/chip-bg.jpg') no-repeat center center / cover;
  min-height: 134px;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    color: #fff;
    display: flex;
    align-items: center;

    & span {
      color: $colorAccent;
    }

    &:before,
    &:after {
      width: 20px;
      height: 50px;
      border: 1px solid #fff;

      content: " ";
    }

    &:before {
      margin: 0 0 0 0;
        border-right: none;
    }

    &:after {
      margin: 0 0 0 0;
      border-left: none;
    }

  } // end h1
} // end parallax


section.content {
  padding: 60px 20px;
  background: #f6f6f6;
}


.constructor {

  &-slider {

    &__item {
      width: 76px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &--icon {
        width: 76px;
        height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 50%;
        display: block;
        background: #fff url('../img/icons/sprite.png') no-repeat;
        background-position: 0px 0;
        transition: all .4s ease;

        &.icon-0 { background-position: 0 0; }
        &.icon-1 { background-position: -82px 0; }
        &.icon-2 { background-position: -162px 0; }
        &.icon-3 { background-position: -242px 0; }
        &.icon-4 { background-position: -322px 0; background-color: transparent; border: 2px solid $colorAccent; }
      }
      &--description {
        text-align: center;
        font-size: 12px;
        color: #b7b7b8;
        margin-top: 14px;
        display: block;
      }

      &.active &--icon.icon-0,
      &:hover &--icon.icon-0 { background-color: $colorAccent; background-position: 0 -80px; }
      &.active &--icon.icon-1,
      &:hover &--icon.icon-1 { background-color: $colorAccent; background-position: -82px -80px; }
      &.active &--icon.icon-2,
      &:hover &--icon.icon-2 { background-color: $colorAccent; background-position: -162px -80px; }
      &.active &--icon.icon-3,
      &:hover &--icon.icon-3 { background-color: $colorAccent; background-position: -242px -80px; }
      &.active &--icon.icon-4,
      &:hover &--icon.icon-4 { background-color: $colorAccent; background-position: -322px -80px; }

      &:hover &--description,
      &.active &--description {
        color: $colorPrimaryDark;
      }
    } // end item

  } // end slider

  &-main {
    background: #fff;
    border-radius: 10px;
    min-height: 713px;
    margin: 40px 0;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    overflow: hidden;

    & > div {
    }

    &__options {
      width: 135px;
      flex-grow: 0;
      background: #f95725;
      position: relative;

      &:after {
        content: " ";
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0; bottom: 0;
        z-index: 1;
        right: 0;
        background: $colorAccent;
        box-shadow: 10px 0 30px 2px rgba(0,0,0,.3);
      }
    }
    &__about {
      flex-grow: 3;
      background: rgba(239,69,31,1);
      /*background: -moz-linear-gradient(-45deg, rgba(239,69,31,1) 0%, rgba(239,69,31,1) 26%, rgba(239,69,31,1) 43%, rgba(239,69,31,1) 53%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(239,69,31,1)), color-stop(26%, rgba(239,69,31,1)), color-stop(43%, rgba(239,69,31,1)), color-stop(53%, rgba(239,69,31,1)), color-stop(53%, rgba(255,255,255,1)), color-stop(54%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
      background: -webkit-linear-gradient(-45deg, rgba(239,69,31,1) 0%, rgba(239,69,31,1) 26%, rgba(239,69,31,1) 43%, rgba(239,69,31,1) 53%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(239,69,31,1) 0%, rgba(239,69,31,1) 26%, rgba(239,69,31,1) 43%, rgba(239,69,31,1) 53%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(239,69,31,1) 0%, rgba(239,69,31,1) 26%, rgba(239,69,31,1) 43%, rgba(239,69,31,1) 53%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
      */background: linear-gradient(110deg, rgba(239,69,31,1) 0%, rgba(239,69,31,1) 26%, rgba(239,69,31,1) 43%, rgba(239,69,31,1) 53%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef451f', endColorstr='#ffffff', GradientType=1 );
    }
    &__params {
      flex-grow: 3;
    }
  }

}
