.parallax {
  background: url('../img/chip-bg.jpg') no-repeat center center / cover;
  background-attachment: fixed;
  min-height: 134px;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    color: #fff;
    display: flex;
    align-items: center;

    & span {
      color: $colorAccent;
    }

    &:before,
    &:after {
      width: 20px;
      height: 50px;
      border: 1px solid #fff;

      content: " ";
    }

    &:before {
      margin: 0 0 0 0;
        border-right: none;
    }

    &:after {
      margin: 0 0 0 0;
      border-left: none;
    }

  } // end h1
} // end parallax


section.content {
  padding: 60px 20px;
  background: #f6f6f6;
}


.constructor {

  &-slider {

    &__item {
      width: 76px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &--icon {
        width: 76px;
        height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 50%;
        display: block;
        background: #fff url('../img/icons/sprite.png') no-repeat;
        background-position: 0px 0;
        transition: all .4s ease;

        &.icon-0 { background-position: 0 0; }
        &.icon-1 { background-position: -82px 0; }
        &.icon-2 { background-position: -162px 0; }
        &.icon-3 { background-position: -242px 0; }
        &.icon-4 { background-position: -322px 0; background-color: transparent; border: 2px solid $colorAccent; }
      }
      &--description {
        text-align: center;
        font-size: 12px;
        color: #b7b7b8;
        margin-top: 14px;
        display: block;
      }

      &.active &--icon.icon-0,
      &:hover &--icon.icon-0 { background-color: $colorAccent; background-position: 0 -80px; }
      &.active &--icon.icon-1,
      &:hover &--icon.icon-1 { background-color: $colorAccent; background-position: -82px -80px; }
      &.active &--icon.icon-2,
      &:hover &--icon.icon-2 { background-color: $colorAccent; background-position: -162px -80px; }
      &.active &--icon.icon-3,
      &:hover &--icon.icon-3 { background-color: $colorAccent; background-position: -242px -80px; }
      &.active &--icon.icon-4,
      &:hover &--icon.icon-4 { background-color: $colorAccent; background-position: -322px -80px; }

      &:hover &--description,
      &.active &--description {
        color: $colorPrimaryDark;
      }
    } // end item

  } // end slider

  &-main {
    background: #fff;
    border-radius: 10px;
    min-height: 713px;
    margin: 40px 100px 40px 0;
    display: flex;
    align-items: stretch;
    align-content: stretch;

    & > div {
    }

    &__options {
      width: 135px;
      flex-grow: 0;
      background: #f95725;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px 0 0 10px;

      &:after {
        content: " ";
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0; bottom: 0;
        z-index: 1;
        right: 0;
        background: $colorAccent;
        box-shadow: 10px 0 30px 2px rgba(0,0,0,.3);
      }

      &--header {
        color: #fff;
        text-transform: uppercase;
        margin: 30px 0;

        & span {
          display: block;
          font-weight: 600;
        }
      }

      &--slider {
        & .constructor-slider__item {
          margin-bottom: 20px;
          cursor: auto;

          &--icon {
            width: 60px;
            height: 60px;
            background-color: #f95725;
            box-shadow: 0 0 16px rgba(0,0,0,.2);

            &.icon-0 { background-position: -10px -90px; }
            &.icon-1 { background-position: -92px -90px; }
            &.icon-2 { background-position: -172px -90px; }
            &.icon-3 { background-position: -250px -90px; }

          }

          &.active .constructor-slider__item--icon.icon-0,
          &:hover .constructor-slider__item--icon.icon-0 { background-color: #f95725; background-position: -10px -90px; }
          &.active .constructor-slider__item--icon.icon-1,
          &:hover .constructor-slider__item--icon.icon-1 { background-color: #f95725; background-position: -92px -90px; }
          &.active .constructor-slider__item--icon.icon-2,
          &:hover .constructor-slider__item--icon.icon-2 { background-color: #f95725; background-position: -172px -90px; }
          &.active .constructor-slider__item--icon.icon-3,
          &:hover .constructor-slider__item--icon.icon-3 { background-color: #f95725; background-position: -250px -90px; }

        }
      }

    }
    &__about {
      flex-grow: 200;
      background: rgba(239,69,31,1);
      padding: 34px 0 34px 34px;
      position: relative;
      color: #fff;
      /*background: -moz-linear-gradient(-45deg, rgba(239,69,31,1) 0%, rgba(239,69,31,1) 26%, rgba(239,69,31,1) 43%, rgba(239,69,31,1) 53%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(239,69,31,1)), color-stop(26%, rgba(239,69,31,1)), color-stop(43%, rgba(239,69,31,1)), color-stop(53%, rgba(239,69,31,1)), color-stop(53%, rgba(255,255,255,1)), color-stop(54%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
      background: -webkit-linear-gradient(-45deg, rgba(239,69,31,1) 0%, rgba(239,69,31,1) 26%, rgba(239,69,31,1) 43%, rgba(239,69,31,1) 53%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(239,69,31,1) 0%, rgba(239,69,31,1) 26%, rgba(239,69,31,1) 43%, rgba(239,69,31,1) 53%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(239,69,31,1) 0%, rgba(239,69,31,1) 26%, rgba(239,69,31,1) 43%, rgba(239,69,31,1) 53%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
      */background: linear-gradient(105deg, rgba(239,69,31,1) 0%, rgba(239,69,31,1) 26%, rgba(239,69,31,1) 43%, rgba(239,69,31,1) 68%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef451f', endColorstr='#ffffff', GradientType=1 );

      &:after {
        content: "LIVE VIEW";
        position: absolute;
        bottom: 20px;
        display: block;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
        max-width: 40px;
        line-height: 28px;
      }

      &--header {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & h1 {
          text-transform: uppercase;
          font-size: 24px;
          max-width: 160px;
          margin: 0 20px 0 0;
        }

      }

      &--content {
        max-width: 270px;
        margin-top: 40px;

        & p {

          display: block;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 30px;

          & strong {
            margin-bottom: 20px;
            display: block;
          }
        }
      }
    }
    &__params {
      flex-grow: 10;
      padding: 34px 34px 34px 0;
      position: relative;

      &:before,
      &:after{
        display: block;
        position: absolute;
        width: 70px;
        height: 60px;
        background: $colorAccent;
        content: " ";
        top: -50px; bottom: 0;
        right: -70px;
        margin: auto;
        border-radius: 0 10px 10px 0;
      }

      &:after{
        background: #ccc;
        top: 100px;
      }

      &--steps {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        &__step {
            background: #c9cacb;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            margin-left: 18px;
        }
      }
      &--steps-text {
        text-align: right;
        color: #5f5f5f;
        font-size: 14px;
        margin-top: 20px;
      }
      &--header {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 28px;
        line-height: 24px;
        margin-top: 30px;

        & span {
          display: block;
          color: $colorAccent;
        }
      }
      &--distance {
        display: flex;
        justify-content: space-between;
        padding: 40px 0 10px 0;

        &__header {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;

          & > span {
            color: $colorAccent;
          }
        }
        &__range-text {
          display: flex;
          align-items: center;

          & > span {
            padding: 2px 10px;
            max-width: 50px;
            font-size: 10px;
            line-height: 10px;
            border-right: 1px solid #eee;
            margin-right: 10px;
            text-transform: uppercase;
          }
          & > div {
            font-size: 34px;
            font-weight: 900;
            & > span {
              color:$colorAccent;
              font-size: 20px;
            }
          }
        }
      }
      &--range {

        border-bottom: 1px solid #eee;
        padding-bottom: 40px;

        & input {
          width: 100%;
        }

        &__titles {
          display: flex;
          justify-content: space-between;
          color: #ccc;

          & span {
            display: block;
            font-size: 12px;
          }
        }
      }
      &--connection {
        padding: 40px 0 10px 0;

        &__header {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 10px;

          & > span {
            color: $colorAccent;
          }
        }
        &__grid {

          display: flex;

          &--item {
            padding: 20px;
            background: #fafafa;
            border-radius: 10px;
            margin: 10px 10px 0 0;
          }
        }
        &__button {
          margin-top: 60px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

}


input[type=range]{
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #fff;
    margin-top: -4px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}
input[type=range]:focus {
    outline: none;
}
