<div class="parallax">
  <h1>Chip <span>constructor</span></h1>
</div>
<section class="content">
  <div class="container">
    <div class="constructor">
      <div class="constructor-slider multiple-items">
        <div>
          <div class="constructor-slider__item">
            <div class="constructor-slider__item--icon icon-3"></div>
            <div class="constructor-slider__item--description">Temperature</div>
          </div>
        </div>
        <div>
          <div class="constructor-slider__item">
            <div class="constructor-slider__item--icon icon-2"></div>
            <div class="constructor-slider__item--description">Water temperature</div>
          </div>
        </div>
        <div>
          <div class="constructor-slider__item active">
            <div class="constructor-slider__item--icon icon-0"></div>
            <div class="constructor-slider__item--description">Cloud temperature</div>
          </div>
        </div>
        <div>
          <div class="constructor-slider__item">
            <div class="constructor-slider__item--icon icon-3"></div>
            <div class="constructor-slider__item--description">Dust temperature</div>
          </div>
        </div>
        <div>
          <div class="constructor-slider__item active">
            <div class="constructor-slider__item--icon icon-2"></div>
            <div class="constructor-slider__item--description">Temperature</div>
          </div>
        </div>
        <div>
          <div class="constructor-slider__item">
            <div class="constructor-slider__item--icon icon-1"></div>
            <div class="constructor-slider__item--description">Water temperature</div>
          </div>
        </div>
        <div>
          <div class="constructor-slider__item">
            <div class="constructor-slider__item--icon icon-0"></div>
            <div class="constructor-slider__item--description">Cloud temperature</div>
          </div>
        </div>
        <div>
          <div class="constructor-slider__item">
            <div class="constructor-slider__item--icon icon-3"></div>
            <div class="constructor-slider__item--description">Dust temperature</div>
          </div>
        </div>
        <div>
          <div class="constructor-slider__item">
            <div class="constructor-slider__item--icon icon-0"></div>
            <div class="constructor-slider__item--description">Cloud temperature</div>
          </div>
        </div>
        <div>
          <div class="constructor-slider__item">
            <div class="constructor-slider__item--icon icon-3"></div>
            <div class="constructor-slider__item--description">Dust temperature</div>
          </div>
        </div>
        <div>
          <div class="constructor-slider__item">
            <div class="constructor-slider__item--icon icon-4"></div>
            <div class="constructor-slider__item--description">Add<br>custom</div>
          </div>
        </div>
      </div>

      <div class="constructor-main">
        <div class="constructor-main__options">
          <div class="constructor-main__options--header">
            Choosen<span>Options:</span>
          </div>
          <div class="constructor-slider constructor-main__options--slider">
            <div>
              <div class="constructor-slider__item">
                <div class="constructor-slider__item--icon icon-3"></div>
              </div>
            </div>
            <div>
              <div class="constructor-slider__item">
                <div class="constructor-slider__item--icon icon-2"></div>
              </div>
            </div>
            <div>
              <div class="constructor-slider__item">
                <div class="constructor-slider__item--icon icon-1"></div>
              </div>
            </div>
            <div>
              <div class="constructor-slider__item">
                <div class="constructor-slider__item--icon icon-3"></div>
              </div>
            </div>
            <div>
              <div class="constructor-slider__item">
                <div class="constructor-slider__item--icon icon-3"></div>
              </div>
            </div>
            <div>
              <div class="constructor-slider__item">
                <div class="constructor-slider__item--icon icon-0"></div>
              </div>
            </div>
            <div>
              <div class="constructor-slider__item">
                <div class="constructor-slider__item--icon icon-2"></div>
              </div>
            </div>
            <div>
              <div class="constructor-slider__item">
                <div class="constructor-slider__item--icon icon-2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="constructor-main__about">
          <div class="constructor-main__about--header">
            <h1>White label w-394900 XP</h1>
            <button class="light">Order now</button>
          </div>
          <div class="constructor-main__about--content">
            <p><strong>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per i nceptos himenaeos.</strong>
            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in </p>
          </div>
          <div class="constructor-main__about--model">
            <img src="img/model.png" alt="">
          </div>
        </div>
        <div class="constructor-main__params">3</div>
      </div>
    </div>

  </div>
</section>
